<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>
      {% block tab_title %}
      {% endblock %}
    </title>
  </head>

  <body>

    <header>
      {% block page_header %}
      {% endblock %}
    </header>

    {% with flashed_messages_list = get_flashed_messages(with_categories=true) %}
      {% if flashed_messages_list %}
        <ul class=flashes>
        {% for category, flashed_message in flashed_messages_list %}
          <li>{{ category }}: {{ flashed_message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    <main>
      {% block page_title %}
      {% endblock %}
      
      {% block page_content %}
      {% endblock %}
    </main>
    <footer>
      {% block page_footer %}
      {% endblock %}
    </footer>
  </body>

</html>
