<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Flask app</title>
  </head>

  <body>

    <h5>Bienvenu sur l'application</h5>
    <h1>Siflaweb</h1>
    <h6>Une solution simple et efficace pour organiser et gérer vos tâches au quotidien.</h6>
    <p>
      Avec siflaweb dites au revoir à tous vos oublis et ayez une vue panoramique de
      toutes les tâches que vous avez programmées. Notre interface simple, intuitive
      et moderne vous offre une expérience utilisateur sans précédent et vous donne 
      toutes les clés pour améliorer votre productivité
    </p>

  </body>

</html>