{% extends "base.html" %}
  
{% block tab_title %}
  Accueil - Siflaweb
{% endblock %}

{% block page_header %}
  Siflaweb
{% endblock %}

{% block page_title %}
  <h4>Bienvenue sur l'application</h4>
  <h1>Siflaweb</h1>
  <h3>Une solution simple et efficace pour organiser et gérer vos tâches au quotidien.</h3>
{% endblock %}

{% block page_content %}
  <p>
    Avec siflaweb dites au revoir à tous vos oublis et ayez une vue panoramique de
    toutes les tâches que vous avez programmées. Notre interface simple, intuitive
    et moderne vous offre une expérience utilisateur sans précédent et vous donne 
    toutes les clés pour améliorer votre productivité
  </p>
{% endblock %}

{% block page_footer %}
  <span>Copyright 2024.</span>
  <span>NgkCorp</span>
{% endblock %}